<footer
  class="px-5 py-3 surface-ground mt-auto border-top-1 surface-border flex justify-content-between align-items-center flex-wrap"
>
  <div class="flex align-items-center">
    <i class="pi pi-heart text-primary mr-2"></i>
    <span class="text-xl font-medium text-900">DatingApp</span>
  </div>

  <div class="text-center">
    <p class="text-600 m-0">
      &copy; {{ currentYear() }} DatingApp. Todos los derechos reservados.
    </p>
  </div>

  <div class="flex gap-4">
    @for (link of socialLinks; track $index) {
    <a
      [href]="link.url"
      class="cursor-pointer"
      [attr.aria-label]="link.ariaLabel"
    >
      <i
        [class]="
          link.icon +
          ' text-xl text-600 hover:text-primary transition-colors transition-duration-150'
        "
      >
      </i>
    </a>
    }
  </div>
</footer>
