<nav
  class="px-5 py-3 fixed top-0 left-0 right-0 z-5 surface-card shadow-1 flex justify-content-between align-items-center"
>
  <a
    routerLink="/"
    class="flex align-items-center no-underline font-bold text-2xl text-primary"
  >
    <i class="pi pi-heart mr-2"></i>
    <span>DatingApp</span>
  </a>

  <div class="flex align-items-center gap-2">
    @if (!isAuthInitialized()) {
    <div class="flex justify-content-center align-items-center w-4rem">
      <p-progressSpinner [style]="{ width: '20px', height: '20px' }">
      </p-progressSpinner>
    </div>
    } @else { @if (!isAuthenticated()) {
    <div class="flex gap-2">
      <p-button
        label="Iniciar sesión"
        icon="pi pi-user"
        [outlined]="true"
        (onClick)="navigateTo('/login')"
      >
      </p-button>

      <p-button
        label="Registrarse"
        icon="pi pi-user-plus"
        (onClick)="navigateTo('/register')"
      >
      </p-button>
    </div>
    } @else {
    <p-button
      #btn
      [label]="currentUser()?.toUpperCase()"
      icon="pi pi-user"
      (click)="menu.toggle($event)"
    >
    </p-button>
    <p-menu #menu [model]="userMenu.items" [popup]="true"> </p-menu>
    } }
  </div>
</nav>
