<!-- user-detail-page.component.html -->
<div class="grid h-full m-0">
  <!-- Left Card -->
  <div class="col-3">
    <p-card styleClass="shadow-5">
      <div class="flex flex-column gap-3">
        <img
          [src]="user.mainPhoto?.url || defaultImageUrl"
          [alt]="user.knownAs"
          class="w-full"
        />

        @for (detail of userDetails; track $index) {
        <div class="flex flex-column gap-1">
          <h3 class="m-0">{{ detail.title }}:</h3>
          <p class="m-0">{{ detail.content }}</p>
        </div>
        }

        <div class="flex justify-content-between align-items-center">
          <div class="flex flex-row gap-2 align-items-center">
            <i
              class="pi pi-circle-fill text-sm"
              [ngClass]="isOnline() ? 'text-green-500' : 'text-gray-500'"
            ></i>
            <span [ngClass]="isOnline() ? 'text-green-500' : 'text-gray-500'">
              {{ isOnline() ? 'Conectado ahora' : 'Desconectado' }}
            </span>
          </div>

          <div class="flex flex-row gap-2">
            <p-button
              label="Me gusta"
              icon="pi pi-heart"
              [outlined]="!user.isLiked"
              styleClass="w-full"
              (onClick)="onLikeClick()"
            ></p-button>
            <p-button
              label="Mensaje"
              icon="pi pi-send"
              severity="success"
              styleClass="p-button-outlined w-full"
              (onClick)="onMessageClick()"
            ></p-button>
          </div>
        </div>
      </div>
    </p-card>
  </div>

  <!-- Right Tabs -->
  <div class="col-9">
    <p-tabView [(activeIndex)]="activeTabIndex" class="h-full">
      <p-tabPanel header="Perfil">
        <div class="flex flex-column gap-4">
          @for (section of userSections; track $index) {
          <div>
            <h3 class="mt-0">{{ section.title }}</h3>
            <p-divider></p-divider>
            <p class="line-height-3">{{ section.content }}</p>
          </div>
          }
        </div>
      </p-tabPanel>

      <p-tabPanel header="Fotos">
        <div class="flex align-items-center justify-content-center">
          <p-galleria
            [value]="userImages"
            [showThumbnails]="true"
            [responsiveOptions]="galleriaResponsiveOptions"
            [containerStyle]="{ 'max-width': '800px' }"
            [numVisible]="5"
            [circular]="true"
          >
            <ng-template pTemplate="item" let-photo>
              <img
                [src]="photo.url"
                [alt]="'Photo ' + photo.id"
                style="width: 100%; height: 500px; object-fit: cover"
              />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-photo>
              <img
                [src]="photo.url"
                [alt]="'Thumbnail ' + photo.id"
                style="width: 100px; height: 67px; object-fit: cover"
              />
            </ng-template>
          </p-galleria>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Mensajes">
        <app-chat class="block w-full h-full" />
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
