@if (loading) {
<div
  class="flex align-items-center justify-content-center min-h-screen surface-ground"
>
  <div class="text-center">
    <p-progressSpinner
      strokeWidth="4"
      [style]="{ width: '50px', height: '50px' }"
      animationDuration=".5s"
    />
    <div class="mt-4 text-primary-600">Inicializando aplicación...</div>
  </div>
</div>
} @else {
<div class="flex flex-column min-h-screen">
  @defer (when !loading) {
  <app-navbar />

  <p-toast />
  <p-confirmDialog />

  <main class="flex-grow-1 mt-8 pt-4">
    <router-outlet />
  </main>

  <app-footer />
  }
</div>
}
