<form
  [formGroup]="passwordForm"
  (ngSubmit)="onPasswordSubmit()"
  class="flex flex-column gap-2"
>
  <div class="grid">
    <div class="col-4">
      <div class="flex flex-column gap-2">
        <label for="currentPassword" class="font-medium"
          >Contraseña actual</label
        >
        <p-password
          id="currentPassword"
          formControlName="currentPassword"
          [feedback]="false"
          [toggleMask]="true"
          styleClass="w-full"
          [inputStyle]="{ width: '100%' }"
          [ngClass]="{
            'ng-invalid ng-dirty': getFieldError(
              passwordForm,
              'currentPassword'
            )
          }"
        >
        </p-password>
        @if (getFieldError(passwordForm, 'currentPassword')) {
        <small class="p-error">{{
          getFieldError(passwordForm, 'currentPassword')
        }}</small>
        }
      </div>
    </div>

    <div class="col-4">
      <div class="flex flex-column gap-2">
        <label for="newPassword" class="font-medium">Nueva contraseña</label>
        <p-password
          id="newPassword"
          formControlName="newPassword"
          [toggleMask]="true"
          styleClass="w-full"
          [inputStyle]="{ width: '100%' }"
          [ngClass]="{
            'ng-invalid ng-dirty': getFieldError(passwordForm, 'newPassword')
          }"
        >
        </p-password>
        @if (getFieldError(passwordForm, 'newPassword')) {
        <small class="p-error">{{
          getFieldError(passwordForm, 'newPassword')
        }}</small>
        }
      </div>
    </div>

    <div class="col-4">
      <div class="flex flex-column gap-2">
        <label for="confirmPassword" class="font-medium"
          >Confirmar contraseña</label
        >
        <p-password
          id="confirmPassword"
          formControlName="confirmPassword"
          [feedback]="false"
          [toggleMask]="true"
          styleClass="w-full"
          [inputStyle]="{ width: '100%' }"
          [ngClass]="{
            'ng-invalid ng-dirty': getFieldError(
              passwordForm,
              'confirmPassword'
            )
          }"
        >
        </p-password>
        @if (getFieldError(passwordForm, 'confirmPassword')) {
        <small class="p-error">{{
          getFieldError(passwordForm, 'confirmPassword')
        }}</small>
        }
      </div>
    </div>
  </div>

  <p-button
    type="submit"
    label="Cambiar contraseña"
    styleClass="w-full mt-3"
    [loading]="loading"
    [disabled]="!passwordForm.valid || loading"
  >
  </p-button>
</form>
