<div class="flex justify-content-center">
  <p-card [style]="{ width: '70rem' }">
    <p-tabView
      [(activeIndex)]="activeTabIndex"
      (activeIndexChange)="onTabChange($event)"
    >
      <p-tabPanel header="Editar Perfil">
        <app-edit-profile [user]="user" />
      </p-tabPanel>

      <p-tabPanel header="Cambiar Contraseña">
        <app-change-password />
      </p-tabPanel>

      <p-tabPanel header="Fotos">
        <app-photo-editor [user]="user" />
      </p-tabPanel>
    </p-tabView>
  </p-card>
</div>
